@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background: #fff url(../img/bg.png);
  margin: 15px;
}
#container {
  background: #ede9cc;
}

#header {
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
  position: relative;
}
#area-logo {
  background: #dbcd87 url(../img/topo-imagem-principal.png) no-repeat ;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
#area-menu {
  background: url(../img/topo-imagem-lateral.png) no-repeat;
  width: 450px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
}