@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.fundo {
  background: #d2d2c1 url('../img/fundo.png');
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 70%;
  padding: 20px 40px;
  background-color: #c5c5b2;
}
.menu > a {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #4b566a;
  text-decoration: none;
  padding: 0px 14px;
}
menu,
a:hover {
  background-color: #e8e8d9;
  border-radius: 50px;
}
main {
  display: flex;
  justify-content: center;
}
.titulo {
  color: rgb(148, 146, 116);
  font-size: 1.2em;
  text-align: left;
  padding-bottom: 20px;
}
.sobre {
  text-align: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8e8d9;
  width: 70%;
}
.fotos {
  border: 10px outset rgb(148, 146, 116);
}
.rodape {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding: 25px 0px;
}
