@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
body {
  background: #fff url(../img/fundo.png)repeat-x;
}
#container {
  width: 750px;
  margin: 0px auto;
  
}
#topo {
  height:  180px;
  background: url(../img/detalhe-topo.png) no-repeat right top;
  padding-top:25px ;
  /* border: 1px solid red; */
}
.logo {
  width: 152px;
  height: 66px;
  background: url(../img/logo.png);
}
/* BARRA DE NAVEGAÇÃO */
#menu {
  width: 600px;  
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#menu ul {
  margin-top: 30px;
  background-color: red;
}
#menu ul li{
  display: inline;
  list-style: none;
} 
#menu ul a {
  line-height: 2.1em;
  font-size: 0.9em;
  color: #fff;
  padding:  0.5em 0.97em;
  background: url(../img/divisor.png) no-repeat left center;
}
#menu ul a:hover {
  color: black
}
#menu ul .primeiro a {
background: none;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencias #navegacao a#ciencias,
body.fotos #navegacao a#fotos {
  color: #fff;
  background: #2a4c79;
  cursor: pointer;
}

/* CONTEÚDOI */
#conteudo {
  background: lightblue;
  margin-top: 60px;
}
#lateral {
  width: 180px;
  float: left;
  margin: 0px 0px 20px -750px;
}
#tres-colunas #primario{
  width: 270px;
  float: left;
  margin: 0px 0px 20px 195px;
  background: blue;
}
 #primario{
  width: 270px;
  float: left;
  margin: 0px 0px 20px 195px;
}
#duas-colunas #primario{
  width: 555px;
}

#uma-colunas #primario{
  width: 750px;
  margin: 0px 0px 20px;
}
#secundario {
  width: 270px;
  float: left;
  margin: 0px 0px 20px 15px;
}
/* CAIXA LATERAL */
.caixa {
  margin: 10px 0px;
  padding: 5px;
  background: #f3f3f3 url(../img/fundo-caixa.png);
}
h2 {
  text-align: center;
  font-size: 1.5em;
  background: #294c71;
  color: #fff;
}
.caixa-conteudo {
  background: #fff;
  padding: 5px;
  margin-top: 5px;
}

/* Menus Laterais */
#lateral ul a {
  font-size: 0.9em;
  padding: 3px;
  display: block;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover {
  color: #a1a1a1;
  background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
  padding-left: 20px;
}

/* Formatando Formulário */
label {
  display: block;
  text-align: center;
  cursor: pointer;
}
input {
  width: 125px;
  padding: 5px;
  margin-left: 17.5px;
  margin-top: 2px;
  font-size: 0.9em;
  background-color: #fff;
}

input.submit {
  width: 80px;
  margin-left: 40px;
  color: #fff;
  background-color: #b10333;
  border: 2px solid #870529;
}


/* RODAPÉ */
#container-rodape {
  background-color: #2a4c79;
  padding: 15px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  clear: both;
}

 