@charset "UTF8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  border: solid 1px black;
}
nav {
  border: solid 1px black;
  background: grey;
  padding: 20px;
}
article {
  float: left;
  width: 70%;
  padding: 10px;
  background-color: aquamarine;
}
section {
  background: rgb(28, 252, 129);
  border: 1px dotted white;
}
aside {
  width: 30%;
  background: teal;
  float: right;
}

footer {
  clear: both;
  background: lightgray;
  border: solid 1px black;
}
