@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h2 {
  text-align: center;
}
ul {
  float: left;
  list-style: none;
  width: 590px;
  background: #159cb0 url(../img/fundo-horizontal.png) repeat-x;
}
ul li {
  float: left;
}
ul a {
  display: block;
  padding: 0 2em;
  line-height: 2.2em;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/divisor.png) repeat-y;
}
ul .primeiro a {
  background: none;
}
ul a:hover {
  color: #085662;
  background: #44cade;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a {
  background: #44cade;
  color: #085662;
}
