@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
body {
  height: 100vh;
  background: url(../img/bailey-zindel-NRQV-hBF10M-unsplash.jpg) no-repeat center;
  background-size: cover;
}
#container {
  width: 400px;
  height: 300px;
  background-color: rgba(255,2552,255,0.3);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
}
#container img {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-top: 120;
}
input {
  width: 80%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 40px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 10px;
}
input.email {
  background-image: url(../img/icone-usuario.png) ;
}
input.senha {
  background-image: url(../img/icone-cadeado.png);
}
input.submit {
  color: #fff;
  background: linear-gradient(to bottom, #f79300, #db7d00) ;
  border: solid 2px #db7d00;
  padding: 5px 20px;
  width: 50%;
}